@charset "utf-8";
/* CSS Document */

@font-face {
        font-family: Eurostile-LT-Std-Demi-Oblique;
        src: url('../../fonts/Eurostile/Eurostile-LT-Std-Demi-Oblique_16309.ttf'); 
      }

@font-face {
        font-family: EurostileLTStd;
        src: url('../../fonts/Eurostile/EurostileLTStd.otf'); 
      }

@font-face {
        font-family: Eurostile-LT-Std-Oblique;
        src: url('../../fonts/Eurostile/Eurostile-LT-Std-Oblique_16312.ttf'); 
      }

@font-face {
        font-family: EurostileLTStd-BoldOblique;
        src: url('../../fonts/Eurostile/EurostileLTStd-BoldOblique.otf'); 
      }

#logo{
        
        width: 100px;
        height: 45px;
        text-align: center;
        margin-top: -1px;
        float: right;
        margin-left: 250px;
}
#footer{
        background: white;
        color: white;
        height: 200px;
        margin: 0 auto;
        border-width: 0.8px;
        border-color: brown;
        border-radius: 12px;
        padding: 0;
        width: 100%;

}
#borde{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffb600;
        position: fixed;        
        bottom: 0;
        width: 100%;
        height: 20px;
        z-index: 9999;
}
#footerul
{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(to bottom, #742992 0%, #31143f 100%);       
        width: 100%;
        
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(to bottom, #742992 0%, #31143f 100%);
        position: fixed;        
        top: 0;
        width: 100%;
        z-index: 9999;
      }
      
      li {
        float: left;
        margin-left: 10px;
      }
      
      li a {
        font-family: EurostileLTStd-BoldOblique;
        display: block;
        color: white;
        text-align: center;
        margin-bottom: 15px;
        padding: 20px 10px;
        margin-left: 20px;
        text-decoration: none;
        font-size: 0.8em;
        margin-top: 15px;
      }
      
      li a:hover {
        background-color: #111;
      }
body{
        margin: 0;
        min-width: 980px;
        padding: 0;
}
#boton{
        font-family:  Eurostile-LT-Std-Oblique;
        font-size:0.3em;
        width: 200px;
        height: 50px;
}

#boton2{
        font-family:  Eurostile-LT-Std-Oblique;
        font-size:0.8em;
        width: 150px;
        height: 40px;
        margin-left: 600px;
        z-index: 2;
        position: absolute;
        margin-top: -50px;
}

#boton3{
        font-family:  Eurostile-LT-Std-Oblique;
        font-size:0.8em;
        width: 100px;
        height: 40px;
        margin-left: 800px;
        z-index: 2;
        position: absolute;
        margin-top: -50px;
}


#boton4{
        font-family:  Eurostile-LT-Std-Oblique;
        font-size:0.8em;
        width: 100px;
        height: 40px;
        margin-left: 370px;
        z-index: 2;
        position: absolute;
        margin-top: -50px;
}

p{
        margin: 0 0 20px 0;     
}

p, ul{
        font-family:  Eurostile-LT-Std-Oblique;
        font-size-adjust:0.488;
        font-weight:200;
        font-style:normal;
}

img{
        border: 0;
        width: 100%;
}

h1, #pixels, h3{
        font-family: EurostileLTStd;
        font-size-adjust:0.40;
        font-weight:700;
        font-style:normal;
        margin-left: -20px;
        
}
#temp{
        width: 20%;
        height: 20%;
        margin-left: 22%;
}

#subtitulo{

        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.6em ;
        margin-left: 70px;
        opacity: 100%;
        text-align: center;
        margin-top: 50%;
}
#sub{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 2em ;
        margin-left: 250px;
        opacity: 100%;  
        text-align: center;
        margin-top: 50%;

}
#subtrivia
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 2em ;
        margin-left: 600px;
        opacity: 100%;  
        text-align: center;
        margin-top: 5px;
        z-index: 2;
        position: absolute;
}

#subcantidad
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.7em ;
        margin-left: -1px;
        opacity: 100%;  
        text-align: center;
        margin-top: -30px;
        z-index: 2;
        position: absolute;
}
#pregunta{
        font-family: EurostileLTStd-BoldOblique;
        color: black;
        font-size: 0.9em ;
        margin-left: 350px;
        opacity: 100%;  
        text-align: center;
        margin-top: 70px;
        z-index: 2;
        position: absolute;
}

#boxradio{
        font-family: EurostileLTStd-BoldOblique;
        color: #31143f;
        margin-left: 600px;
        margin-top: -220px;
        z-index: 2;
        position: absolute;
}
#subconsola
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.7em ;
        margin-left: 5px;
        opacity: 100%;  
        text-align: center;
        margin-top: 2px;
        z-index: 2;
        position: absolute;
}
#boxsubs{
        margin-left: 400px;
}
#subdatos
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.7em ;
        margin-left: -200px;
        opacity: 100%;  
        text-align: center;
        margin-top: 70px;
        z-index: 2;
        position: absolute;
}

#titulo-menu{
        margin-top: 100px;
}
#subuser
{
        font-family: EurostileLTStd-BoldOblique;
        color: blue;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 5px;
        z-index: 2;
        position: absolute;
}
#cantibox{
        margin-top: 10px ;
}
#subpass
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: blue;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 5px;
        z-index: 2;
        position: absolute;
}

#foothome
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 10px;
        z-index: 2;
        position: absolute;
}
#footmenu
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 300px;
        z-index: 2;
        position: absolute;
}
#footimg{
        width: 50px;
        height: 50px;
        margin-left: 500px;
}
#face{
        margin-left: -10px;
        margin-top: 78px;
}
#insta{
        margin-left: 270px;
        margin-top: -52px;
}

#gmail{
        margin-left: 130px;
        margin-top: -52px;
}

#redes{
        margin-top: 30px;
}
#footreserva
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 500px;
        z-index: 2;
        position: absolute;
}
#footjuego
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 1200px;
        z-index: 2;
        position: absolute;
}
#foottemporada
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 5px;
        z-index: 2;
        position: absolute;
}
#footcliente
{
        margin-top: 10px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        
        opacity: 100%;  
        text-align: center;
        margin-left: 5px;
        z-index: 2;
        position: absolute;
}
#subcantidadt
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.7em ;
        margin-left: 60px;
        opacity: 100%;  
        text-align: center;
        margin-top: -30px;
        z-index: 2;
        position: absolute;
}
#subcantidadt2{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.7em ;
        margin-left: 190px;
        opacity: 100%;  
        text-align: center;
        margin-top: -30px;
        z-index: 2;
        position: absolute;

}

#subreserva
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 2em ;
        margin-left: 100px;
        opacity: 100%;  
        text-align: center;
        margin-top: 5px;
        z-index: 2;
        position: absolute;
}

#subtemporada
{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        margin-left:750px;
        opacity: 100%;  
        text-align: center;
        margin-top: -130px;
        z-index: 2;
        position: absolute;
}

#subt{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 2em ;
        margin-left: 100px;
        opacity: 100%;  
        text-align: center;
        margin-top: 50%;

}
#signin{
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 1em ;
        margin-left: 60px;
        opacity: 100%;  
       
        margin-top: 10%;
}
#signin2{
        font-family: EurostileLTStd-BoldOblique;
        color:#056cf2;
        font-size: 0.5em ;
        margin-left: 30px;
        opacity: 100%; 
 
       
}
#inicio{
        margin-top: 90px;
}
.p1{
        
        margin-left: -100px;
}
#menu{
        font-family: EurostileLTStd-BoldOblique;
        font-size-adjust:0.531;
        font-weight:1000;
        font-style:normal;
        color: #056cf2;
        margin-left: -150px;
        margin-top: 60px;

}
#resBox{
        background-color: #82c71c;
        opacity: 50%;
        margin-top: 10px;
        height: 40px;   
        width: 600px;
        margin-left: 180px;
       
        
        

} 
#boxa{
        background-color: #82c71c;
        opacity: 50%;
        margin-top: 0.5%;
        height: 40px;   
        width: 600px;
        margin-left: 25%; 
}

#promos{
        background-color: blueviolet;
        width: 180px;
        margin-left: 720px;
        margin-top: -240px;
        z-index: 2;
        position: absolute;

        
}
#promitos{
        margin-top: 5px;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        font-size: 0.8em ;
        margin-left: 19px;
        opacity: 100%;  

}

#promos1{
        background-color: blue;
        width: 180px;
        margin-left: 720px;
        margin-top: -200px;
        z-index: 2;
        position: absolute;

        
}
#promos2{
        background-color: green;
        width: 180px;
        margin-left: 720px;
        margin-top: -160px;
        z-index: 2;
        position: absolute;

        
}

#promos3{
        background-color: red;
        width: 180px;
        margin-left: 720px;
        margin-top: -120px;
        z-index: 2;
        position: absolute;

        
}


#resA{
        background-color: #d9450b;
        opacity: 50%;
        margin-top: 1%;
        height: 300px;   
        width: 600px;
        margin-left: 180px;

        
        

}
#b{
        background-color: #82c71c;
        opacity: 50%;
        height: 40px;   
        width: 280px;
        margin-top: -20%;
        margin-left: 50%;
      

}
#botonsign{
        width: 150px;
        margin-top: 80px;
        margin-left: 50px;

        background-color: #d90440;
        color:white;
        font-family: EurostileLTStd-BoldOblique;
        font-size: 1em;
}
#login2{
        background-color: white ;
        margin-top: 0.5%;
        height: 300px;   
        width: 300px;
        margin-left: 40%; 
}
#a{
        background-color: #d9450b;
        opacity: 50%;
        margin-top: 0.5%;
        height: 250px;   
        width: 280px;
        margin-left: 50%;
        
}
#boxb{
        background-color: #d9450b;
        opacity: 50%;
        margin-top: 0.5%;
        height: 300px;   
        width: 600px;
        margin-left: 25%; 

}
#reserva{
        font-family: EurostileLTStd-BoldOblique;
        font-size-adjust:0.2em;
        font-weight:1000;
        font-style:normal;
        color: #ffb600;
        margin-top: 15%;
        margin-left: 150px;

}
#minijuegos{
        font-family: EurostileLTStd-BoldOblique;
        font-size-adjust:0.531;
        font-weight:1000;
        font-style:normal;
        color: #056cf2;
        margin-left: 40%;
        margin-top: 10%;

}
#contReserva
{
        margin-left: 200px;
        margin-top: -250px;
        z-index: 2;
        position: absolute;
}

#contReserva2
{
        margin-left: 200px;
        margin-top: -200px;
        z-index: 2;
        position: absolute;
}

#contReserva3
{
        margin-left: 200px;
        margin-top: -100px;
        z-index: 2;
        position: absolute; 
}
#opciones{
        margin-top: 20px;
}
#comunidad{
        font-family: EurostileLTStd-BoldOblique;
        font-size-adjust:0.531;
        font-weight:1000;
        font-style:normal;
        color: #056cf2;
        margin-left: 35%;
        margin-top: 10%;

}
#temporada{
        font-family: EurostileLTStd-BoldOblique;
        font-size-adjust:0.520;
        font-weight:1000;
        font-style:normal;
        color: #056cf2;
        margin-left: 20%;
        margin-top: 15%;
}
#to{
        color: #82c71c;
        margin-left: 150px;
        margin-top: 130px;

}
#header{
        background-color: #48941A;
        color: white;
        font-family: Eurostile-LT-Std-Demi-Oblique;
        text-align: center;
}
#card{
        margin-left: 40%;
}
h2{
        font-family: Eurostile-LT-Std-Demi-Oblique;
        font-size-adjust:0.531;
        font-weight:1000;
        font-style:normal;
}
#welcome{
        font-family: EurostileLTStd-BoldOblique;
        color: #ffb600;
        font-size: 1.5em;
        margin-left: -70px;
        margin-bottom: -150px;
        margin-top: 130px;
}
#parrafo{
        margin-left: -100px;
        margin-right: 100px;
}
#insert
{       font-family: EurostileLTStd-BoldOblique;
        color: #d9450b;
        margin-left: -90px;
        margin-top: 150px;
}

#header h1, #pixels{
        color: #48941A;
}

.float-left{
          
        margin: 0 -20px 0 2px;
        margin-top: 30px;
        display:inline-block;
}

.float-right{
        float: right;
        margin: 0 20px 0 0;
}

.center{
        font-size: 2.5em;
        padding: 80px 0 0 0;
    
        text-align: center;
}

button{
        background-color: #d90440;
        font-family: EurostileLTStd-BoldOblique;
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

#nav{
        list-style: none;
        position: fixed;
        right: 20px;
}

#nav li{
        margin: 0 0 15px 0;     
}

#header, #intro, #second{
        width: 100%;
}

#intro{
        background:url("../../images/home.jpg") 50% 0 no-repeat fixed;
		background-size: cover;
        color: white;
        height: 650px;
        margin: 0 auto;
        padding: 0;
        width: 100%;
}
#login
{
        margin-left: 95px;
        width: 120px;
}
#carouselExampleControls
{
        width: 700px;
        height: 300px;
        margin-left: 350px;
}
.d-block {
        width: 100%;
        height: 100%;
}
#second{
        background: url("../../images/menucito.jpg") 50% 0 no-repeat fixed;
		background-size: cover;
        color: white;
        height: 650px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        width: 100%;
}

/* #second .bg{
        background: url("images/trainers-1.png") 50% 0 no-repeat fixed;
        height: 1300px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        z-index: 200;
        max-width: 1900px;
		width: 100%;
        overflow: hidden;
} */

/* #third{
        background: url("../../images/reservas.jpg") 50% 0 no-repeat fixed;
		background-size: cover;
        color: black;
        height: 650px;
        padding: 100px 0 0 0;   
        width: 100%;
        overflow: hidden;
        padding: 0;
} */

#fourth{
        background: url("../../images/minijuegos.webp") 50% 0 no-repeat fixed;
        background-size: cover;
color: black;
height: 650px;
padding: 100px 0 0 0;   
width: 100%;
overflow: hidden;
padding: 0;

}
#fourthd{
        background: url("../../images/desserts.jpg") 50% 0 no-repeat fixed;
        background-size: cover;
color: black;
height: 650px;
padding: 100px 0 0 0;   
width: 100%;
overflow: hidden;
padding: 0;

}
#fourthr{
        background: url("../../images/drinkss.jpg") 50% 0 no-repeat fixed;
        background-size: cover;
color: black;
height: 650px;
padding: 100px 0 0 0;   
width: 100%;
overflow: hidden;
padding: 0;

}

#fifth{
        background: url("../../images/temporada.jpg") 50% 0 no-repeat fixed;
        background-size: cover;
color: black;
height: 650px;
padding: 100px 0 0 0;   
width: 100%;
overflow: hidden;
padding: 0;
}

#sixth{
        background: url("../../images/login.jpg") 50% 0 no-repeat fixed;
        background-size: cover;
color: black;
height: 650px;
padding: 100px 0 0 0;   
width: 100%;
overflow: hidden;
padding: 0;
}

.story{
        margin: 0 auto;
        min-width: 980px;
        overflow: auto;
        width: 980px;
       
}
.card
{
        width: 3000px;
        height: 300px;
}
#separador
{
        margin-top: 10px;
}
.story .float-left, .story .float-right{
        padding: 100px 0 0 0;
        position: relative;
        width: 350px;   
        margin-top: 2%;
}




