<div class="container">
    <div class="row">
      <div class="col-md-3 my-5" id="Col" *ngFor="let anuncio of anuncios" >
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              
            </mat-card-header>
            <img id="Imagen"mat-card-image src="{{anuncio.Imagen}}" >
            <mat-card-title id="Titulo">{{anuncio.Titulo}}</mat-card-title>
            <mat-card-content>
              <p>
                {{anuncio.Descripcion}}
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="buttonNews">Leer Mas</button>
            </mat-card-actions>
          </mat-card>

        
      </div>
    </div>
  </div>